<article class="post">
      <div class="post2 card bg-primary  text-white bg-opacity-50">
        <div class="card-header text-white h3">
        <a class="text-white" href="{{title}}" target="_blank">{{title}}</a>
        <div class="text-right h6">
         by {{user.username}} on {{format_date created_at}}
         </div>
        </div>
        <div class="card-body bg-success bg-opacity-50">
        <p class="text-white ">{{post_content}}</p>
        </div>
      </div>
      <div>
        <a href="/post/{{id}}">{{comments.length}}{{format_plural "comment" comments.length}}</a>
      </div>
    </article>